/* main General */
   body {
    background-color: #1c86ee;
    color: aliceblue;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  
   }
  h1 {
    color: aliceblue;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
  }
  
  .all-contents{
    display: grid;
    gap: 10px;
    grid-template-areas:
      "h h h h h U U U S S S"
      "h h h h h U U U S S S"
      "h h h h h o o o o o o"
      "h h h h h o o o o o o"
      "f f f f f o o o o o o"
      "f f f f f o o o o o o"
      "f f f f f o o o o o o"
      "f f f f f o o o o o o"
      "f f f f f n n n n n n"
      "f f f f f n n n n n n"
      "f f f f f n n n n n n"
      "f f f f f n n n n n n"
      "f f f f f n n n n n n";
  }
  .grid-items {
    color: aliceblue;
    display: flex;
    border-radius: 20px;
    align-self: center;
  }

  .value {
    font-size: 3rem;
    font-weight: 300;
    font-style: normal;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0.65rem;
    text-align: center;
}

.btn-design {
  background-color: #c2e1ff;
  border: none;
  align-self: center;

}
.btn-design-box {
  background-color: #c2e1ff;
  padding: 0.65rem;
  border-radius: 15rem;
  display: flex;
}


.not-clicked{
  background-color: #c2e1ff;
  
}
.clicked{
  color: #359bff;
  background-color: aliceblue;
}
.clicked-box{
  background-color: aliceblue;
}


