.header{
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;    
    height: 4rem;
    z-index: 50;
}
.location-names{
    color: aliceblue;
    width: 28rem;
}
.location-name {
    color: aliceblue;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
}
.search-location-box{
  width: 30rem;
}

.search-location{
  display: inherit;
}


.search-bar{
  border-radius: 2rem;
  padding: 0 2rem;
  height: 2.2rem;
  width: 11rem;
  border: none;
  outline: none;
  background-color: #c5dcf3;
  margin-bottom: 1em;
}
.search-result{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: start;
}
  
.search-result-item{
  cursor: pointer;
  background-color:  rgba(16, 90, 226, 0.644);
  padding: 0.125rem 3rem;
  border-radius: 2rem;
}
.search-result-item:hover{
  background-color: aliceblue;
  color: #359bff;
}
.result-box{
  height: 4rem;
  margin-bottom: -5rem;
  width: max-content;
}
.language-name-box{
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #c5dcf3;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  width: 5.15rem;
  cursor: pointer;
  border: none;
  transition: all 1s;

}
.language-name-box:hover{
  background-color: aliceblue;
  color: #359bff;
  transition: all 1s;
}

.temper-type {
  background-color: #c2e1ff;
  display: flex;
  border-radius: 2rem;
  padding: 0;
  transition: all 1s;

}
.temper-type-box{
  border-radius: 2rem;
  padding: 0.666rem;
  border: none;
  transition: all 1s;

}

.temper-type-box:hover{
 color: #359bff;
  transition: all 1s;
}










