.header{
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 20px; */
    
}
.location-names{
    color: aliceblue;
}
.location-name {
    color: aliceblue;
}

.search-location{
  display: inherit;
  flex-direction: column;
  align-self: center;
  justify-content: center;
}

.search-bar{
  border-radius: 2rem;
  padding: 5% 10% 5% 10%;
  height: 2.2rem;
  border: none;
  outline: none;
  background-color: #c5dcf3;
}
.search-result{
  margin-bottom: -1.3rem;
    list-style: none;
    z-index: 5;
    padding: 0;
    display: inherit;
    flex-direction: column;
    align-items: center;
  
}
  
.search-result-item{
  z-index: 6;
  cursor: pointer;
}
.language-name-box{
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #c5dcf3;
  height: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
}
.language-name{
    background-color: #c5dcf3;
    border: none;
}

.temper-type {
  background-color: #c2e1ff;
  display: flex;
  border-radius: 2rem;
  padding: 0;
}
.temper-type-box{
  display: flex;
  border-radius: 2rem;
  padding: 0.666rem;

}
.temper-type-item {
  padding: 0;
  border: none;
  align-self: center;
}











