.the-header-weather {
  grid-area: h;
  z-index: -1;
  display: flex;
  background-color: #359bff;
  color: aliceblue;
  flex-direction: column;
  gap: 3rem;
  padding: 1.5rem;
  box-shadow: 0 0.6rem 0.4rem rgba(0, 0, 0, 0.075);
  width: 40rem;
  height: 23rem;
}
.the-header-weather-skelet {
  gap: 2.6rem;
}

.date-time {
  align-self: start;
  margin-bottom: -2.5rem;
  font-weight: 300;
  font-size: 1rem;
}
.data-from-api {
  display: flex;
  gap: 1rem;
  align-self: center;
  width: 39rem;
  margin-left: -1rem;
}
.icon-box {
  margin-top: 0;
  width: 9rem;
}
.weather-icon-image {
  width: 7rem;
  height: 7rem;
}
.kind-of-weather {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-top: -1rem;
  font-size: 1rem;
  font-weight: 300;
  width: 8rem;
}

.value-box {
  width: 8rem;
}
.title {
  font-size: 1.25rem;
  text-align: center;
  padding-top: 0;
  margin-top: 0.5rem;
  margin-bottom: 0;
  font-weight: 200;
}
.pishbini-havaye-aty {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
.pishbini-havaye-aty-skeleton {
  margin-top: 3.1rem;
}

.pishbini-har-saat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  background-color: #1c86ee;
  padding: 0.5rem 0.25rem 0.5rem 0.25rem;
  border-radius: 1rem;
  width: 4.5rem;
  height: 7rem;
}
span {
  align-self: center;
  font-size: 1.125rem;
  font-weight: 400;
}
.weather-icon {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  align-self: center;
}
