.the-header-weather{
  grid-area: h;
  display: flex;
  background-color: #359bff;
  color: aliceblue;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
  box-shadow: 0 0.6rem 0.4rem rgba(0, 0, 0, 0.075);


}

.date-time {
    align-self: start;
    margin-bottom: -3.1%;
    margin-bottom: -1.5rem;
}
.data-from-api {
  display: flex;
  gap: 1.88rem;
  gap:2rem;
  align-self: center;
  margin-left: 1.55%;
  margin-left: 1rem;
}
.icon-box {
  margin-top: 0;
}
.weather-icon-image {
  width: 6.25rem;
  height: 6.25rem;
 
}
.kind-of-weather {
  margin-top: -20%;
  margin-top: -1rem;
  font-size: 0.75rem;
}
  

.title {
  font-size: medium;
  text-align: center;
  padding-top: 0;
  margin-top: 0.5rem;
  margin-bottom: 0;
}
.pishbini-havaye-aty {
  display: flex;
  gap: 1rem;
  justify-content: center;
}
  
  .pishbini-har-saat {
    display: flex;
    flex-direction: column;
    background-color: #1c86ee;
    padding: 1.2% 0.8% 1.2% 0.8%;
    padding: 0.5rem 0.25rem 0.5rem 0.25rem;
    border-radius: 1rem;
  }
  span {
    align-self: center;
    padding: 0.5rem;
  }
  .weather-icon {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    align-self: center;
  }
  