
.news-page{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    text-align: center;
  }
  
  .news-page-item-box{
    border-radius: 2rem;
    align-self: center;
    background-color: #359bff;
    padding: 8rem;
    box-shadow: 0 1.2rem 0.4rem rgba(0, 0, 0, 0.075);

  }