.overview {
width: 37rem;
height: 22rem;
grid-area: o;
background-color: #359bff;
display: flex;
flex-direction: column;
justify-content: space-between;
gap: 1rem;
padding: 1.5rem;
box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);
box-shadow: 0 1.2rem 0.4rem rgba(0, 0, 0, 0.075);



  
  }
  
  .overvew-title-box{
    display: flex;
    justify-content: space-between;
  }
  .overvew-title{
   color: aliceblue;
   margin: 0;
   font-weight: 300;
   font-size: 1.5rem;
   
  
  }
  .forcast-type {
    cursor: pointer;
    background-color: #c2e1ff;
    display: flex;
    border-radius: 5rem;
    padding: 0;
  }
  

  
  .w-96{
    display: flex;
    align-items: normal;
    justify-content: center;
    width: 90%;
    height: 100%;
  }
  
  canvas{
    height: max-content;
  }