.overview {
width: 89%;
height:95%;
grid-area: o;
background-color: #359bff;
display: flex;
flex-direction: column;
justify-content: space-evenly;
gap: 1rem;
padding: 2% 8% 2% 3%;
box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);



  
  }
  
  .overvew-title-box{
    display: flex;
    /* justify-content: space-between; */
    gap: 14rem;
  }
  .overvew-title{
   color: aliceblue;
   margin: 0;
   
  
  }
  .forcast-type {
    background-color: #c2e1ff;
    display: flex;
    border-radius: 5rem;
    padding: 0;
  }
  

  
  .w-96{
    display: flex;
    align-items: normal;
    justify-content: center;
    width: 90%;
    height: 100%;
  }
  
  canvas{
    height: max-content;
  }