
.weather-news {
  grid-area: n;
  background-color: #359bff;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  gap: 1rem;
  padding: 1.5rem;
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.075);

  }
  .title-box {
    display: inherit;
    justify-content: space-between;
  }
  .p-t {
    align-self: center;
    margin: 0;
  }
  .view {
    align-self: center;
    text-decoration: none;
  
    color: aliceblue;
  }
  .news-box {
    display: inherit;
    gap: 1rem;
  }
  .news-panel {
    background-image: url(../store/png/vecteezy_vector-illustration-of-weather-condition-forecast-icon-set_22701389.jpg);
    border-radius: 1rem;
    padding: 1rem;

  }
  .main-title {
    margin-top: 0;
    margin-bottom: 0.5rem;
  }
  .loc-name-news {
    margin: 0;
    margin-bottom: 0.25rem;
  }
  .text {
    margin: 0;
    font-size: 0.625rem;
  }

